[Unit]
Description=v4l2 streamer daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/v4l2-streamer -d /dev/video%%d -n 4 -w 1280 -h 720 -f 10 -p 8000

#[Install]
#WantedBy=multi-user.target
